src/main/resources/testing.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test/" name="testing">
<types>
<xsd:schema>
<xsd:import namespace="http://test/" schemaLocation="testing.xsd" />
</xsd:schema>
</types>
<message name="consultar">
<part name="parameters" element="tns:consultar" />
</message>
<message name="consultarResponse">
<part name="parameters" element="tns:consultarResponse" />
</message>
<message name="notificar">
<part name="parameters" element="tns:notificar" />
</message>
<message name="notificarResponse">
<part name="parameters" element="tns:notificarResponse" />
</message>
<message name="referenciar">
<part name="parameters" element="tns:referenciar" />
</message>
<message name="referenciarResponse">
<part name="parameters" element="tns:referenciarResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="testing">
<operation name="consultar">
<input wsam:Action="http://test/testing/consultarRequest" message="tns:consultar" />
<output wsam:Action="http://test/testing/consultarResponse" message="tns:consultarResponse" />
</operation>
<operation name="notificar">
<input wsam:Action="http://test/testing/notificarRequest" message="tns:notificar" />
<output wsam:Action="http://test/testing/notificarResponse" message="tns:notificarResponse" />
</operation>
<operation name="referenciar">
<input wsam:Action="http://test/testing/referenciarRequest" message="tns:referenciar" />
<output wsam:Action="http://test/testing/referenciarResponse" message="tns:referenciarResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://test/testing/helloRequest" message="tns:hello" />
<output wsam:Action="http://test/testing/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="testingPortBinding" type="tns:testing">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="consultar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="notificar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="referenciar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="testing">
<port name="testingPort" binding="tns:testingPortBinding">
<soap:address location="http://26.194.54.50:7080/wsPruebas/testing" />
</port>
</service>
</definitions>